body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #bebebe;
  font-family: neoteric-bold;  
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: neoteric-bold;
    src: url('neoteric-bold.ttf');
}

@font-face {
    font-family: neoteric-regular;
    src: url('neoteric-regular.ttf');
}

.row{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  margin-bottom: 1em;
}

.column{
  text-align: justify;
  display: flex;
  padding: 1em;
  margin: 1em 2em 1em 2em;
}

nav{
  background-color: #f2f2f2 ;
  width: 100%;
  padding: 0;
}

ul{
  margin: 0 auto;
  padding: 22px;
  text-align: right;
}

ul li{
  padding-left: 1em;
  font-family: neoteric-bold;
  list-style: none;
  display: inline-block;
}

ul li:hover{
  cursor: pointer;
  font-family: neoteric-regular;
}

ul li a{
  color: #5a5a5a;
  text-decoration: none;
}

.toggle{
  width: 80%;
  padding: 0.5em 2em;
  text-align: right;
  display: none;
}

#logo{
  z-index: 10000;
  position: absolute;
  top: 1em;
  left: 1em;
}


nav, #content-title h3{
  color: #5a5a5a;
  font-size: 2em;
}

#content-title h3{
  color: #5a5a5a;
  padding-left: 1em;
  margin-top: 15px;
  margin-bottom: 5px;
}

#content-title{
  display: flex;
  justify-content: flex-start;
}

#video-container{
  flex: 4;
  background-color: #5a5a5a ;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

#video-content{
    width: 100%;
    height: 300px;
}

#table-container{
  overflow-y: scroll;
  flex: 2;
  background-color: #5a5a5a ;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

#table-content tbody{
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

#table-content, button, tr, td{
  width: 100%;
  text-align: left;
}

#table-content button{
  font-size: 1em;
  background-color: #f2f2f2 ;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

#ads-container{
  max-height: 300px;
  flex: 1;
  background-color: #5a5a5a ;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

#social-container{
  z-index: 10000;
  max-height: 100px;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0.5em 0.5em;
  background-color: #f2f2f2 ;
  width: 100%;
}

#social-container ul{
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
  width: 100%;
}

#social-container ul li{
  list-style: none;
  padding-right: 6em;
  display: inline-block; 
}

#popup-description{
  width: 250px;
  height: auto;
  position: absolute;
  top: 200px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid #000000;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}

#description-item, #description-item img{
  flex: 1;
  height: 150px;
  text-align: justify;
}

@media all and (max-width: 900px) {

  #ads-container{
    margin-bottom: 10em;
  }

  .row{
    display: block;
  }

  #social-container ul li{
    padding: 0.17em;
  }

  .column{
    width: 80%;
    margin-bottom: 1em;
  }

  .toggle{
    display: block;
  }

  .active{
    display: block;
  }

  ul{
    width: 100%;
    display: none;
  }

  ul li{
    display: block;
    text-align: left;
  }
}
