body{
  text-align: justify;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
}

table {
    width: 100%;
    display:block;
}

tbody {
    display: inline-block;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
}

td a{
  text-decoration: none;
  color: blue;
}

tbody::-webkit-scrollbar {
    width: 1em;
}

tbody::-webkit-scrollbar-button  {
    background-color: white;
}

tbody::-webkit-scrollbar-thumb {
  border-left: 1px solid white;
  background-color: black;
}

tbody::-webkit-scrollbar-track-piece {
  background-color: white;
}

tr, td, button{
  width: 1%;
  white-space: pre-line;
}

button:active{
  opacity: 0.5;
}

button:hover{
  color: white;
  background: black;
}

button:visited{
  color: blue;
  background: red;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
  text-shadow: 0px -3px 10px rgba(0, 0, 0, 1);
}

.title {
  color:white;
  padding-left:35px;
  background: black;
}

.menu{
  background: white;
  position: fixed;
  width: 100%;
  z-index: 100000;
  margin: 0;

}

#sec-menu-desktop, .title b{
  padding-top: 1em;
  padding-bottom: 1em;
}

#sec-menu-desktop a{
  color: black;
  font-size: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: inline;
}

#sec-menu-iphone{
  color: black;
  left: 1em;
  display: none;
}

#sec-menu-iphone a{
  font-size: 3em;
  position: relative;
  left: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

#sec-podcast{
  background-color: black;
}

#sec-gameplays{
  background-color: black;
}

#sec-esport{
  background-color: black;
}

#sec-redesocial{
  background-color: white;
}

.content-wrap{
  padding: 20px;
  height: 56.25%;
}

.video-wrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

.social li{
  padding-left: 40px;
  padding-top: 20px;
}

@media (max-width:700px){
  #sec-menu-desktop{
    display: none;
    width: 80%;
  }
  #sec-menu-desktop a{
    display: block;
  }
  #sec-menu-iphone{
    display: inline;
    width: 20%;
  }
}

@media (min-width:700px){
  #sec-menu-desktop{
    display: inline;
  }
  #sec-menu-iphone a{
    display: none;
  }
}
